.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInput {
  padding: 10px;
  margin-bottom: 20px;
}

.loginButton {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: darkblue;
  border-radius: 7px;
  border: none;
}
