* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* see index.html for font style */
  /* font-family: "Source Sans Pro", sans-serif; */
}

.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
